<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="munin" type="MuninNodeDotNet.AppConfig,MuninNodeDotNet" restartOnExternalChanges="true" />
	</configSections>
	<munin debug="false" certificateFile="munin-node.pfx" certificatePassword="password">
		<modules>
			<add name="checkDisk" enabled="true" warning="80" critical="90" />
			<add name="checkMemory" enabled="true" />
			<add name="checkPerfCount" enabled="true" />
<!--
			<add name="checkNetwork" enabled="true" networkInterface="Realtek PCIe GBE Family Controller" />
-->
			<add name="checkNetwork" enabled="true" />
			<add name="checkProcess" enabled="true" />
		</modules>
		<performanceCounters>
			<add name="processor" perfObject="Processor" perfCounter="% Processor Time" perfInstance="*" skipInstances="_Total" graphMultiplier="1.000000" graphTitle="Processor Time" graphCategory="system" graphArgs="--base 1000 -l 0" graphDraw="LINE" />
			<add name="uptime" perfObject="System" perfCounter="System Up Time" graphMultiplier="1.1574074074074073e-005" graphTitle="Uptime" graphCategory="system" graphArgs="--base 1000 -l 0" graphDraw="AREA" />
		</performanceCounters>
	</munin>
</configuration>
